<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <title>Occupancy EPFL</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="author" content="Antonin Faure">

    <!-- JQuery -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>

    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
        crossorigin="anonymous"></script>

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link
        href="https://fonts.googleapis.com/css2?family=Lato&family=Lato:wght@100;300;500;900&family=Nerko+One&display=swap"
        rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.13.2/css/jquery.dataTables.css">

    <script type="text/javascript" charset="utf8"
        src="https://cdn.datatables.net/1.13.2/js/jquery.dataTables.js"></script>

</head>

<body>
    <div class="row m-0 p-0" style="min-height: 100%;">
        <!-- header -->
        <header class="col-12 p-5 m-0">
            <div class="row mb-3">
                <h1 class="text-center"><a href="/">Occupancy EPFL</a></h1>
                <div class="col-12 col-md-6 col-lg-4 mx-auto pt-3 text-center">
                    <form action="/room" method="get">
                        <div class="input-group justify-content-center">
                            <input type="text" autofocus class="form-control" name="name"
                                placeholder="room name... (ex: CE13)">
                            <div class="input-group-append">
                                <button type="submit" class="btn btn-danger">Search</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <ul class="nav nav-tabs" role="tablist">
                <li class="nav-item" role="presentation">
                    <button class="nav-link active" id="find-tab" data-bs-toggle="tab" data-bs-target="#find-tab-panel"
                        type="button" role="tab" aria-controls="find-tab-panel" aria-selected="true">Available rooms
                    </button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="rooms-tab" data-bs-toggle="tab" data-bs-target="#rooms-tab-panel"
                        type="button" role="tab" aria-controls="rooms-tab-panel" aria-selected="false">Rooms</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="courses-tab" data-bs-toggle="tab" data-bs-target="#courses-tab-panel"
                        type="button" role="tab" aria-controls="courses-tab-panel"
                        aria-selected="false">Courses</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="studyplans-tab" data-bs-toggle="tab"
                        data-bs-target="#studyplans-tab-panel" type="button" role="tab"
                        aria-controls="studyplans-tab-panel" aria-selected="false">Studyplans</button>
                </li>
            </ul>
        </header>

        <div class="main col-12 m-0 p-0 mb-5">
            <!-- content -->
            <div class="tab-content" id="tabContent">
                <div class="tab-pane fade p-0 px-5" id="rooms-tab-panel" role="tabpanel" aria-labelledby="rooms-tab"
                    tabindex="0">
                    <div class="table-responsive">
                        <table id="rooms_table" class="display" style="width:100%">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Type</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for room in rooms %}
                                <tr>
                                    <td><a href="/room/?name={{room.name}}">{{ room.name }}</a></td>
                                    <td>{{ room.type }}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="tab-pane fade show active p-0 px-5 m-0" id="find-tab-panel" role="tabpanel"
                    aria-labelledby="find-tab" tabindex="0">
                    <div id="timetablesCarousel" class="carousel slide" data-wrap="false">
                        <button class="carousel-control left btn btn-danger" type="button"
                            data-bs-target="#timetablesCarousel" data-bs-slide="prev" disabled>
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <div id="selectable-area" class="carousel-inner">
                            {% for timetable in timetables %}
                            <div class="carousel-item {{ 'active' if loop.index == 1 }}">
                                <div class="table-responsive w-100">
                                    <table class="table table-bordered table-striped text-center selectable-table">
                                        <thead>
                                            <tr>
                                                <td></td>
                                                {% for day in timetable['dates'].keys() %}
                                                <td>
                                                    <div class="day-title">
                                                        <span>{{ day }}</span>
                                                        <span>{{ timetable['dates'][day].date_name }}</span>
                                                    </div>
                                                </td>
                                                {% endfor %}
                                            </tr>
                                        </thead>
                                        <tbody class="area">
                                            {% for time, row in timetable['timetable'].items() %}
                                            <tr>
                                                <td>{{time}}</td>
                                                {% for day, col in row.items() %}
                                                <td class="{{ 'selectable' if not col.disabled else 'disabled' }}"
                                                    data-day="{{day}}" data-time="{{time}}" data-date="{{col.date}}">
                                                </td>
                                                {% endfor %}
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                        <button class="carousel-control right btn btn-danger" type="button"
                            data-bs-target="#timetablesCarousel" data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                        <div class="carousel-indicators">
                            {% for timetable in timetables %}
                            <button type="button" data-bs-target="#timetablesCarousel"
                                data-bs-slide-to="{{loop.index0}}"
                                class="{% if loop.index == 1 %}{{'active'}}{% endif %}" aria-current="true"
                                aria-label="Week {{ loop.index}}"></button>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="col-12 p-0 mt-3 mx-0 mb-4 d-flex align-items-center justify-content-center gap-3">
                        <button class="btn btn-lg btn-danger" onclick="findFreeRooms()">Search</button>
                        <button class="btn btn-lg btn-secondary" onclick="resetFind()">Reset</button>
                    </div>
                    <hr>
                    <h4><strong>Available rooms</strong></h4>
                    <div class="table-responsive">
                        <table id="available_rooms_table" class="display" style="width:100%">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Type</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="tab-pane fade p-0 px-5" id="courses-tab-panel" role="tabpanel" aria-labelledby="courses-tab"
                    tabindex="0">
                    <div class="table-responsive">
                        <table id="courses_table" class="display" style="width:100%">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Code</th>
                                    <th>Credits</th>
                                    <th>Semester</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for course in courses %}
                                <tr>
                                    <td><a href="/course?code={{course.code}}">{{ course.name }}</a></td>
                                    <td>{{ course.code }}</td>
                                    <td>{{ course.credits }}</td>
                                    <td>
                                        <div class="d-flex gap-3 align-items-center">
                                            {% if course.semester %}
                                            <span>{{ course.semester.name }}</span>
                                            {% if course.semester.type == "fall" %}
                                            <span class="badge bg-primary text-white">Fall</span>
                                            {% else %}
                                            <span class="badge bg-danger text-white">Spring</span>
                                            {% endif %}
                                            {% else %}
                                            <span class="badge bg-secondary text-white">Other</span>
                                            {% endif %}
                                        </div>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="tab-pane fade p-0 px-5" id="studyplans-tab-panel" role="tabpanel"
                    aria-labelledby="studyplans-tab" tabindex="0">
                    <div class="table-responsive">
                        <table id="plans_table" class="display" style="width:100%">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Section</th>
                                    <th>Promotion</th>
                                    <th>Semester</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for studyplan in studyplans %}
                                <tr>
                                    <td><a href="/find_studyplan?studyplan={{studyplan._id}}">{{ studyplan.unit[0].name
                                            }}</a></td>
                                    <td>{{ studyplan.unit[0].section }}</td>
                                    <td>{{ studyplan.unit[0].promo }}</td>
                                    <td>
                                        <div class="d-flex gap-3 align-items-center">
                                            {{ studyplan.semester[0].name }}
                                            {% if studyplan.semester[0].type == "fall" %}
                                            <span class="badge bg-primary text-white">Fall</span>
                                            {% else %}
                                            <span class="badge bg-danger text-white">Spring</span>
                                            {% endif %}
                                        </div>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <!-- footer -->
        <footer class="col-12 m-0 p-4 text-center mt-auto">
            <p>made by <a href="https://github.com/antoninfaure" class="text-white">Antonin Faure</a></p>
            <span><a target="_blank" href="https://github.com/antoninfaure/occupancy-epfl">
                    <img src="{{ url_for('static',filename='github-mark-white.png') }}" alt="github" width="30"
                        height="30">
                </a></span>
        </footer>
    </div>
</body>

<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='style.css') }}">

<script src="https://unpkg.com/dragselect@latest/dist/ds.min.js"></script>
<style>
    table a {
        color: #550000;
    }

    @media only screen and (max-width: 710px) {
        .selectable-table tr td:nth-child(1) {
            writing-mode: vertical-lr;
        }
    }
</style>
<script>
    $(document).ready(function () {
        $('#rooms_table').DataTable();
        $('#courses_table').DataTable();
        $('#plans_table').DataTable();
    });

    new bootstrap.Carousel(document.getElementById('timetablesCarousel'), {
        wrap: false,
        touch: false
    })

    document.getElementById('timetablesCarousel').addEventListener('slid.bs.carousel', function (event) {
        var $this = $(this);

        $this.children('.carousel-control').removeAttr('disabled');

        if ($('.carousel-inner .carousel-item:first').hasClass('active')) {
            $this.children('.left.carousel-control').attr('disabled', true);
        } else if ($('.carousel-inner .carousel-item:last').hasClass('active')) {
            $this.children('.right.carousel-control').attr('disabled', true);
        }

    });

    // for each tbody inside selectable-area create a new DragSelect
    let drags = []
    $('.selectable-table tbody').each(function (index, element) {
        drags.push(new DragSelect({
            selectables: element.querySelectorAll('.selectable'),
            area: document.getElementById('selectable-area').getElementsByClassName('area')[index],
            draggability: false,
            multiSelectMode: true
        }))
    })

    var csrf_token = "{{ csrf_token() }}";

    $.ajaxSetup({
        beforeSend: function (xhr, settings) {
            if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
                xhr.setRequestHeader("X-CSRFToken", csrf_token);
            }
        }
    });

    function findFreeRooms() {
        // for all selections group the dates and times
        let selections = drags.map(ds => ds.getSelection()).flat()
        let selection = selections.map(x => x = {
            'date': $(x).data('date'),
            'time': $(x).data('time')
        })

        console.log(selection)
        $.ajax({
            url: '/find_free_rooms',
            type: "POST",
            data: JSON.stringify(selection),
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (results) {
                $('#available_rooms_table').DataTable({
                    data: results,
                    columns: [
                        {
                            data: 'name',
                            render: function (data, type, row) {
                                if (type === 'display') {
                                    return $('<a>')
                                        .attr('href', '/room/?name=' + data)
                                        .text(data)
                                        .wrap('<div></div>')
                                        .parent()
                                        .html();
                                } else return data
                            }
                        },
                        { data: 'type' }
                    ],
                    destroy: true
                });
            }
        })
    }

    function resetFind() {
        drags.forEach(ds => ds.clearSelection())
        $('#available_rooms_table').DataTable().destroy()
        $("#available_rooms_table tbody").empty()
    }
</script>

</html>