<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <title>Occupancy EPFL</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="author" content="Antonin Faure">

    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link
        href="https://fonts.googleapis.com/css2?family=Lato&family=Lato:wght@100;300;500;900&family=Nerko+One&display=swap"
        rel="stylesheet">

    <!-- DataTables -->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.13.2/css/jquery.dataTables.css">
    
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='style.css') }}">

    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-GD6W04W7E5"></script>
    <script>
        var doNotTrack=!1;
        if (!doNotTrack){
            window.dataLayer=window.dataLayer||[];
            function gtag(){dataLayer.push(arguments)}
            gtag("js",new Date), gtag("config","G-GD6W04W7E5",{anonymize_ip:!1})
        }
    </script>
</head>

<body>
    <div class="row m-0 p-0" style="min-height: 100%;">

        <!-- header -->

        <header class="col-12 p-5 m-0 text-center">
            <h1 class="text-center"><a href="/">Occupancy EPFL</a></h1>
            <div class="col-12 col-md-6 col-lg-4 mx-auto pt-3 text-center">
                <form action="/room" method="get">
                    <div class="input-group justify-content-center">
                        <input type="text" autofocus class="form-control" name="name"
                            placeholder="room name... (ex: CE13)">
                        <div class="input-group-append">
                            <button type="submit" class="btn btn-danger">Search</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-12">
                <a href="/" class="btn btn-dark mt-3 float-start">Home</a>
            </div>
        </header>


        <!-- content -->

        <div class="main col-12 px-5 m-0">
            <h2 class="text-center">{{studyplan.unit.name}}</h2>
            <h6 class="text-center font-italic">{{studyplan.semester.name}}</h6>
            <ul class="nav nav-tabs mb-3" role="tablist">
                <li class="nav-item" role="presentation">
                    <button class="nav-link active" id="schedule-tab" data-bs-toggle="tab"
                        data-bs-target="#schedule-tab-panel" type="button" role="tab" aria-controls="schedule-tab-panel"
                        aria-selected="true">Schedule</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="courses-tab" data-bs-toggle="tab" data-bs-target="#courses-tab-panel"
                        type="button" role="tab" aria-controls="courses-tab-panel" aria-selected="false">Courses</button>
                </li>
            </ul>
            <div class="tab-content" id="tabContent">
                <div class="tab-pane fade show active p-0" id="schedule-tab-panel" role="tabpanel"
                    aria-labelledby="schedule-tab" tabindex="0">
                    <div class="row">
                        <div class="float-end">
                            <span class="taken cours p-2">Lecture</span>
                            <span class="taken exercice p-2">Exercise, TP</span>
                            <span class="taken projet p-2">Project, other</span>
                        </div>
                    </div>
                    <div id="timetablesCarousel" class="carousel slide" data-wrap="false">
                        <button class="carousel-control left btn btn-danger" type="button"
                            data-bs-target="#timetablesCarousel" data-bs-slide="prev" disabled>
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <div class="carousel-inner">
                            {% for timetable in timetables %}
                            <div class="carousel-item {{ 'active' if loop.index == 1 }}">
                                <div class="table-responsive w-100">
                                    <table class="table table-bordered table-striped text-center selectable-table">
                                        <thead>
                                            <tr>
                                                <td></td>
                                                {% for day in timetable['dates'].keys() %}
                                                <td colspan="{{ timetable['dates'][day].colspan }}">
                                                    <div class="day-title">
                                                        <span>{{ day }}</span>
                                                        {% if timetable['dates'][day] %}
                                                        <span>{{ timetable['dates'][day].date_name }}</span>
                                                        {% endif %}
                                                    </div>
                                                </td>
                                                {% endfor %}
                                            </tr>
                                        </thead>
                                        <tbody class="area">
                                            {% for time, row in timetable['timetable'].items() %}
                                            <tr>
                                                <td>{{ time }}</td>
                                                {% for day, cells in row.items() %}
                                                {% for cell in cells %}
                                                {% if not cell.skip %}
                                                {% if not cell.label %}
                                                <td class="empty"></td>
                                                {% else %}
                                                <td class="taken {{ cell.label }} text-center align-middle"
                                                    colspan="{{ cell.colspan|default(1) }}"
                                                    rowspan="{{ cell.rowspan|default(1) }}">
                                                    <div>
                                                        <a href="/course?code={{cell.course.code}}">{{
                                                            cell.course.code
                                                            }} - {{ cell.course.name }}</a>
                                                        {% if cell.rooms %}
                                                        <div class="rooms">
                                                            {% for room in cell.rooms %}
                                                            <a class="btn btn-sm btn-light" data-bs-toggle="tooltip"
                                                                data-bs-placement="top" title="{{ room }}"
                                                                href="/room?name={{room}}">
                                                                {{ room }}
                                                            </a>
                                                            {% endfor %}
                                                        </div>
                                                        {% endif %}
                                                    </div>
                                                </td>
                                                {% endif %}
                                                {% endif %}
                                                {% endfor %}
                                                {% endfor %}
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                        <button class="carousel-control right btn btn-danger" type="button"
                            data-bs-target="#timetablesCarousel" data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                        <div class="carousel-indicators">
                            {% for timetable in timetables %}
                            <button type="button" data-bs-target="#timetablesCarousel"
                                data-bs-slide-to="{{loop.index0}}"
                                class="{% if loop.index == 1 %}{{'active'}}{% endif %}" aria-current="true"
                                aria-label="Week {{ loop.index}}"></button>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade p-0 pb-4" id="courses-tab-panel" role="tabpanel" aria-labelledby="courses-tab"
                    tabindex="0">
                    <div class="table-responsive">
                        <table id="courses_table" class="display" style="width:100%">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Code</th>
                                    <th>Credits</th>
                                    <th>Link to edu.epfl.ch</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for course in courses %}
                                <tr>
                                    <td><a href="/course?code={{course.code}}">{{ course.name }}</a></td>
                                    <td>{{ course.code }}</td>
                                    <td>{{ course.credits }}</td>
                                    <td>
                                        <a class="btn btn-sm btn-danger" href="{{ course.edu_url }}"
                                            target="_blank">Link</a>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <!-- footer -->

        <footer class="col-12 m-0 p-4 text-center mt-auto">
            <p>made by <a href="https://github.com/antoninfaure" class="text-white">Antonin Faure</a></p>
            <span><a target="_blank" href="https://github.com/antoninfaure/occupancy-epfl">
                    <img src="{{ url_for('static',filename='github-mark-white.png') }}" alt="github" width="30"
                        height="30">
                </a></span>
        </footer>
    </div>
</body>

<!-- JQuery -->
<script src="https://code.jquery.com/jquery-3.4.1.min.js" defer></script>

<!-- Bootstrap -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
        crossorigin="anonymous" defer></script>

<!-- DataTables -->
<script type="text/javascript" charset="utf8"
        src="https://cdn.datatables.net/1.13.2/js/jquery.dataTables.js" defer></script>

<script>
    $(document).ready(function () {
        $('#courses_table').DataTable();
    });

    new bootstrap.Carousel(document.getElementById('timetablesCarousel'), {
        wrap: false,
        touch: false
    })

    document.getElementById('timetablesCarousel').addEventListener('slid.bs.carousel', function (event) {
        var $this = $(this);

        $this.children('.carousel-control').removeAttr('disabled');

        if ($('.carousel-inner .carousel-item:first').hasClass('active')) {
            $this.children('.left.carousel-control').attr('disabled', true);
        } else if ($('.carousel-inner .carousel-item:last').hasClass('active')) {
            $this.children('.right.carousel-control').attr('disabled', true);
        }

    });
</script>

</html>